# Dependencies
node_modules/
package-lock.json

# Optional REPL history
.node_repl_history

# Optional npm cache directory
.npm

# Environment variables
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# dotenv environment variables file
.env.development.local
.env.test.local
.env.production.local
.env.local
